/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    background-color: rgb(255, 249, 240);
    background-size: cover;

    background-repeat: no-repeat;

    background-attachment: fixed;
}
