<app-admin-navbar></app-admin-navbar>

<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 style="text-align: center; text-decoration: underline; color: #198754;">User Details</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile Number</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.userName }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.mobileNumber }}</td>
              <td>{{ user.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
