<!-- <div class="container text-center">

    <h2 align="center">Online Shopping Cart</h2>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUV3Uqq6zJjiQj8REtp9JPUU5c23-X4fK7OA&usqp=CAU" alt=" Image" class="img-fluid">

</div> -->


<!--
 <div class="container text-center">
    <h2 align="center">Online Shopping Cart</h2>
    <img src="https://img.freepik.com/premium-photo/supermarket-basket-with-location-icon-realistic-3d-render-shopping-concept-market-shopping_175994-11385.jpg" alt="Image" class="img-fluid" style="width: 150%; height: 600;">
</div>  -->

<app-customer-navbar></app-customer-navbar>

<div class="container text-center mt-2">
  <link rel="stylesheet" type="text/css" href="homepage.component.css">
    <img src="https://assets-global.website-files.com/637610b6e8be873142dadb34/63e2314b1c9e7221cb01f8c8_8-Steps-to-Optimize-Your-Ecommerce-Shopping-Cart-Checkout-in-2020.png" alt="Image" class="img-fluid" style="width: 150%; max-height: 500px;">
    <br><br>
    <div class="header">Welcome to our Online Shopping Cart</div>
        <div class="sub-header">Discover Amazing Products</div>


    <p>Welcome to our online shopping portal. Explore a wide range of products and enjoy a convenient shopping experience.</p>
    <p>Discover the latest trends, best deals, and a variety of categories to suit your shopping needs.</p>
    <p>Shop with confidence and get your favorite items delivered right to your doorstep.</p>
    <div class="moto">Shop smart, shop online</div>
    <br>
    <a routerLink="/customer-products/home" class="btn-explore">Explore Now</a>
    <div style="margin-bottom: 20px;"></div>

</div>



<!-- <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../../assets/amazon-alexa-event-sept-2019 (1).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
