<nav class="navbar navbar-expand-lg bg-success"  xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
      <a class="navbar-brand navbar__logo" routerLink="/customer/homepage">
        <img src="https://media.istockphoto.com/id/1184670036/vector/shopping-cart-line-icon-fast-buy-vector-logo.jpg?s=612x612&w=0&k=20&c=zyExmQoKgH4UZTwMa41Zo9x1TzQYcQy_5zQcHaEL0SQ=" alt="" height="50px" width="50px">
        SHOPPING-CART
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <div class="navbar-nav">
          <a class="nav-link px-3 navbar__title" aria-current="page" routerLink="/admin/homepage" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }" >HOME</a>
          <a class="nav-link px-3 navbar__title" routerLink="/admin/products" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">VIEW ALL PRODUCTS</a>
          <a class="nav-link px-3 navbar__title" routerLink="/admin/orders" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">ORDERS</a>
          <a class="nav-link px-3 navbar__title" routerLink="/admin/customers" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">CUSTOMERS</a>
          <a class="nav-link px-3 navbar__title" routerLink="/admin/profile" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">PROFILE</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar__title" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{userName}}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
          <!-- <a class="nav-link px-4 navbar__title" (click)="logout()" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">LOGOUT</a> -->
        </div>
      </div>
    </div>
  </nav>